/* Container Padding */
.opti-container {
  --curve-ratio: -6.6207vw;
  --container-padding-top: 12.8rem;
  --container-padding-bottom: 12.8rem;
  --background-top: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0f2d8e 100%);
  --background-right: linear-gradient(90deg, #10141d 60.61%, color-mix(in srgb, var(--theme-color) 50%, transparent) 99.84%);
  --background-left: linear-gradient(-90deg, #10141d 60.61%, color-mix(in srgb, var(--theme-color) 50%, transparent) 99.84%);
  --background-bottom: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0f2d8e 100%);
  --background-top-horizontal: linear-gradient(0deg, var(--vulcan, #10141d) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(30.36% 30.36% at 50.03% -69.38%, #171541 0%, rgba(23, 21, 65, 0) 81.25%),
    radial-gradient(46.03% 46.03% at 100% 30.62%, rgba(95, 29, 142, 0.2) 0%, rgba(95, 29, 142, 0) 100%),
    radial-gradient(70.72% 75.15% at 13.7% 11.41%, #0f2d8e 0%, rgba(15, 45, 142, 0) 100%);
  --background-bottom-horizontal: linear-gradient(180deg, var(--vulcan, #10141d) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(30.36% 30.36% at 50.03% 0%, #171541 0%, rgba(23, 21, 65, 0) 81.25%),
    radial-gradient(46.03% 46.03% at 100% 100%, var(--optimizely-blue, #0037ff) 0%, rgba(107, 23, 204, 0.1) 100%),
    radial-gradient(70.72% 75.15% at 13.7% 80.79%, var(--vulcan, #10141d) 0%, rgba(15, 45, 142, 0) 100%);
  --background-top-highlight: radial-gradient(300px 100.04% at 50% 0%, rgba(0, 55, 255, 1) 0%, rgba(80, 17, 153, 0) 100%),
    linear-gradient(180deg, var(--vulcan) 0%, #0e1122 35.54%, var(--vulcan) 100%);
  --background-bottom-highlight: radial-gradient(300px 100.04% at 50% 100%, rgba(0, 55, 255, 1) 0%, rgba(80, 17, 153, 0) 100%),
    linear-gradient(180deg, var(--vulcan) 0%, #0e1122 35.54%, var(--vulcan) 100%);

  position: relative;
  padding-top: var(--container-padding-top);
  padding-bottom: var(--container-padding-bottom);
}

/* Container Content */
.opti-container > .opti-container__content {
  @apply relative;
}

/* Container Background */
.opti-container > .opti-container__background {
  @apply absolute inset-0 w-full h-full;
  -webkit-mask-composite: xor;
  mask-composite: xor;
}

/* Container Padding */
.opti-container.padding-top--large {
  --container-padding-top: 9.6rem;
}

.opti-container.padding-top--medium {
  --container-padding-top: 6.4rem;
}

.opti-container.padding-top--small {
  --container-padding-top: 3.2rem;
}

.opti-container.padding-bottom--large {
  --container-padding-bottom: 9.6rem;
}

.opti-container.padding-bottom--medium {
  --container-padding-bottom: 6.4rem;
}

.opti-container.padding-bottom--small {
  --container-padding-bottom: 3.2rem;
}

@media (min-width: 992px) {
  .opti-container.padding-top--large {
    --container-padding-top: 19.2rem;
  }

  .opti-container.padding-top--medium {
    --container-padding-top: 12.8rem;
  }

  .opti-container.padding-top--small {
    --container-padding-top: 6.4rem;
  }

  .opti-container.padding-bottom--large {
    --container-padding-bottom: 19.2rem;
  }

  .opti-container.padding-bottom--medium {
    --container-padding-bottom: 12.8rem;
  }

  .opti-container.padding-bottom--small {
    --container-padding-bottom: 6.4rem;
  }
}

.opti-container.padding--none {
  --container-padding-top: 0;
  --container-padding-bottom: 0;
}

/* Container Overlap */
.opti-container.overlap-top--large,
.opti-container.overlap-top--medium,
.opti-container.overlap-top--small,
.opti-container.padding-top--none {
  --container-padding-top: 0;
}

.opti-container.overlap-bottom--small,
.opti-container.overlap-bottom--medium,
.opti-container.overlap-bottom--large,
.opti-container.padding-bottom--none {
  --container-padding-bottom: 0;
}

.opti-container.overlap-top--large .opti-container__background {
  top: auto;
  height: 70%;
}

.opti-container.overlap-top--medium .opti-container__background {
  top: auto;
  height: 80%;
}

.opti-container.overlap-top--small .opti-container__background {
  top: auto;
  height: 90%;
}

.opti-container.overlap-bottom--large .opti-container__background {
  bottom: auto;
  height: 70%;
}

.opti-container.overlap-bottom--medium .opti-container__background {
  bottom: auto;
  height: 80%;
}

.opti-container.overlap-bottom--small .opti-container__background {
  bottom: auto;
  height: 90%;
}

/* Container Gradients */
.opti-container[class*="gradient-"] .opti-container__background {
  opacity: 0.4;
}

.opti-container.gradient-top .opti-container__background {
  background: var(--background-top), var(--color-background);
}

.opti-container.gradient-right .opti-container__background {
  background: var(--background-right), var(--color-background);
}

.opti-container.gradient-bottom .opti-container__background {
  background: var(--background-bottom), var(--color-background);
}

.opti-container.gradient-left .opti-container__background {
  background: var(--background-left), var(--color-background);
}

.opti-container.gradient-bottom-horizontal .opti-container__background {
  background: var(--background-bottom-horizontal);
}

.opti-container.gradient-top-horizontal .opti-container__background {
  background: var(--background-top-horizontal);
}

.opti-container.gradient-top-highlight .opti-container__background {
  background: var(--background-top-highlight);
}

.opti-container.gradient-bottom-highlight .opti-container__background {
  background: var(--background-bottom-highlight);
}

/* Container Curves */
.opti-container.curve-top {
  --background-top: var(--background-top-horizontal);
}

.opti-container.curve-bottom {
  --background-bottom: var(--background-bottom-horizontal);
}

/* Container Borders */
.opti-container.border-top .opti-container__background:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -2.88%,
    rgba(255, 255, 255, 0.975) 51.83%,
    rgba(255, 255, 255, 0.025) 99.11%,
    rgba(255, 255, 255, 0) 99.11%
  );
}

.opti-container.border-bottom .opti-container__background:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -2.88%,
    rgba(255, 255, 255, 0.3) 51.83%,
    rgba(255, 255, 255, 0.025) 99.11%,
    rgba(255, 255, 255, 0) 99.11%
  );
}

/* Container Curves */
.opti-container.curve-top,
.opti-container.curve-bottom {
  z-index: 2;
}

.curve-bottom .opti-container__background {
  -webkit-mask: linear-gradient(black, black), url(/assets/images/mask-bottom.svg) bottom / contain center no-repeat;
  mask: linear-gradient(black, black), url(/assets/images/mask-bottom.svg) bottom center / contain no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.curve-top .opti-container__background {
  -webkit-mask: linear-gradient(black, black), url(/assets/images/mask-top.svg) top center / contain no-repeat;
  mask: linear-gradient(black, black), url(/assets/images/mask-top.svg) top center / contain no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.curve-bottom.curve-top .opti-container__background {
  -webkit-mask: linear-gradient(black, black), url(/assets/images/mask-both.svg) bottom center no-repeat;
  mask: linear-gradient(black, black), url(/assets/images/mask-both.svg) bottom center no-repeat;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
