.stats {
    @apply relative mb-2 inline-block w-full overflow-hidden rounded-md after:duration-800 after:bg-white after:opacity-10 hover:after:opacity-40
}

.stats-inner {
    @apply w-full overflow-hidden rounded-md border border-white border-opacity-20 after:shadow-card-hover after:pointer-events-none after:absolute after:left-0 after:top-0 after:h-full after:w-full after:rounded-md after:opacity-0 after:transition-all after:from-transparent after:bg-gradient-to-b after:to-white;
}

.stats-inner__content {
    @apply relative z-10 flex gap-8 bg-vulcan-95 px-4;
}

.stats-inner__body {
    @apply py-2;
}

.stats-logo {
    @apply relative flex justify-center items-center;
}

.stats-logo::before {
    content: "";
    @apply absolute top-0 w-[1px] h-[90%] m-auto opacity-50 bg-gradient-to-b from-transparent to-white;
    right: calc(var(--grid-layout-gap) * -0.5);
    background:
        linear-gradient(1deg, rgba(255, 255, 255, 0) -2.88%, rgba(255, 255, 255, .6) 51.83%, rgba(255, 255, 255, .05) 99.11%, rgba(255, 255, 255, 0) 99.11%);
}

.stats-logo img {
    @apply max-h-8 w-full min-w-12 max-w-12;
}

.stats-title {
    @apply mb-2 bg-gradient-to-b from-light-blue to-optimizely-blue bg-clip-text text-3xl font-bold leading-none text-transparent;
}

.stats-subtitle {
    @apply text-xs font-medium leading-normal text-gray-200 opacity-70;
}