:where(a[href]):not(.button):not(.reset-link) {
  color: var(--color-link-body);
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: text-decoration-color 0.4s, color 0.4s ease-in-out;
}

:where(a[href]):not(.button):not(.reset-link):hover,
:where(a[href]):not(.button):not(.reset-link):focus {
  text-decoration-color: var(--theme-color);
  color: var(--color-link-body-hover)
}